@media only screen and (max-width: 1040px) {
	.container {
		max-width: 100% !important;
		padding: 0 5rem !important;
	}
	.style {
		padding: 4rem 7rem;
		text-align: center;
	}
	.header-style {
		padding: 0 7rem;
	}
	.hero-text h1 {
		width: 100%;
	}
	.portfolio1 {
		height: 350px;
	}
}

@media only screen and (max-width: 992px) {
	.container {
		max-width: 100% !important;
		padding: 0 3rem !important;
	}
	.style {
		padding: 3rem 5rem;
		text-align: center;
	}
	.header-style {
		padding: 0 5rem;
	}
	.about-img {
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 3rem;
	}
	.about-details {
		padding-left: 1rem;
	}
	.row table {
		margin-top: 1.5rem;
		margin-left: 0;
	}
	.circle strong {
		width: 100%;
	}
	.circle span {
		text-align: center;
		width: 100%;
		display: block;
	}
	.skill-bar {
		padding: 0 15%;
	}
	.progress {
		margin-bottom: 3rem;
	}
	.hero-text h1 {
		font-size: 4rem;
	}
	.hero-text h3 {
		font-size: 3.6rem;
	}
	.contact-box {
		padding: 0 10%;
	}
	
}



@media only screen and (max-width: 768px) {
	.container {
		max-width: 100% !important;
		padding: 0 2rem !important;
	}
	.style {
		padding: 3rem 2rem;
		text-align: center;
	}
	.header-style {
		padding: 0 2rem;
	}
	nav ul li {
		padding: 0 .5rem !important;
	}
	nav a {
		font-size: 1.4rem;
	}
	.hero-text h1 {
		font-size: 3.6rem;
	}
	.hero-text h2 {
		font-size: 2.6rem;
	}
	.hero-text h3 {
		font-size: 2rem;
	}
	.col-lg-4.col-md-4.col-sm-12 {
		margin-bottom: 3rem;
	}
	.contact-box {
		padding: 0 5%;
	}
	.skill-bar {
		padding: 0 10%;
	}
	.heading-style h2 {
		font-size: 3rem;
	}
}



@media only screen and (max-width: 576px) {
	.container {
		max-width: 100% !important;
		padding: 0 1rem !important;
	}
	.style {
		padding: 2rem 1rem;
		text-align: center;
	}
	.header-style {
		padding: 0 1rem;
	}
	#nav {
		padding: 0 40%;
	}
	.skill-bar {
		padding: 0 1.5rem;
	}
	.portfolio-manu {
		padding: 2rem 0;
	}
	.portfolio1 {
		height: 400px;
	}
	.contact-box {
		padding: 0 1.5rem;
	}

}



@media only screen and (max-width: 400px) {
	#nav {
		padding: 0 30%;
	}
}

@media only screen and (width: 800px) {
	header {
		height: 720px;
	}
	.hero-text a {
		display: block;
		position: absolute;
		top: 450px;
		left: 50%;
		-webkit-transform: translate(-50%);
		    -ms-transform: translate(-50%);
		        transform: translate(-50%);
	}
}
